/* styles.css */
.container {
  margin-top: 100px;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* Add a semi-transparent white background */
  padding: 40px;
  border-radius: 10px; /* Optional: Add rounded corners */
}

.nav-tabs {
  margin-bottom: 20px;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.tab-pane p {
  margin-top: 20px;
}

body {
  background-image: url("image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
